<ion-header>
  <ion-toolbar>
    <ion-title class="tit">
      <h1>NOTIFIQ</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="container">
    <h1>INTEGRANTES</h1>

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="4" class="image-col">
          <ion-img src="assets/img/ft2.jpg"></ion-img>
          <figcaption>Alice Eduarda</figcaption>
        </ion-col>
        <ion-col size="4" class="image-col">
          <ion-img src="assets/img/ft.jpg"></ion-img>
          <figcaption>Danilo Alves Prado</figcaption>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Sobre nosso app:</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        O Notifiq é um aplicativo desenvolvido com o objetivo de facilitar a organização pessoal e manter os usuários sempre atualizados sobre compromissos importantes e eventos próximos.

A principal funcionalidade do aplicativo é um calendário inteligente, onde o usuário pode marcar e salvar dias específicos com anotações ou lembretes. A partir desses registros, o Notifiq envia notificações automáticas para lembrar os usuários dos compromissos que eles mesmos salvaram, garantindo que nada seja esquecido.

Além disso, o aplicativo se conecta à API Eventribe, que permite trazer informações sobre eventos que acontecem próximos à localização do usuário, como shows, palestras, workshops e atividades culturais. Assim, além de gerenciar seus compromissos pessoais, o usuário também recebe alertas e recomendações de eventos externos, tornando o Notifiq um aplicativo tanto para organização quanto para descoberta de novas experiências.

Com isso, o Notifiq se destaca por unir agenda pessoal e notificações de eventos locais, entregando praticidade, interação com a comunidade e uma experiência mais completa para quem deseja se manter informado e organizado.
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>
